<div class="scouting-showcase" role="main">

  <div class="left-pic">
    <img src="http://www.insideworldfootball.com/app/uploads/2017/01/Scouting.png" width="550" height="325">
  </div>

  <div class="right-info">
    <h1>Welcome to the Scouting App!</h1>
    <div class="center">
      <%= link_to "Sign in", signin_path %>
      <%= link_to "Sign up", new_user_path %>
    </div>
  </div>

</div>
